<html>

<head>
    <title>Flood-it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="game" v-bind:class="gameEnded ? 'game-ended' : ''">
        <h1>{{ title }}</h1>
        <div class="moves">{{ player ? player : 'Unknown hero' }} : {{ moves }} moves</div>
        <div class="grid">
            <div class="row" v-for="yi in size.y">
                <div class="cell" v-for="xi in size.x" v-bind:id="xi + '' + yi" v-on:click="onCellClick">{{ xi }} / {{ yi }}</div>
            </div>
        </div>
        <div v-show="gameEnded">
            <br>
            <h3>You win in {{ moves }} moves {{ sameScore ? 'again ' : '' }} !</h3>
            <small v-show="scoreSubmitted">Score has been submitted.</small>
            <div v-show="askPlayer && !scoreSubmitted">
                <p>You want to be in the highscores ?<br>What's your name ?</p>
                <form id="askPlayerForm" v-on:submit.prevent="postScore">
                    <input type="text" v-model="player" placeholder="hero name" minlength="3" maxlength="10" v-on:focus="askPlayerRules = true">
                    <input type="submit" value="Send !" v-on:click="setStorage">
                    <ul v-show="askPlayerRules" class="rules">
                        <li v-show="!player || !player.length">Name cannot be empty.</li>
                        <li v-show="player.length < 3 || player.length > 10">Name should be between 3 & 10 characters long.</li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="highscores" v-if="dbEnabled">
                <strong>Highscores</strong>
                <ol>
                    <li v-for="highscore in highscores" v-if="highscore.player">{{ highscore.player }} : {{ highscore.score }}</li>
                </ol>
                <em v-if="!highscores || !highscores.length">No highscores for this grid yet, do your best !</em>
            </div>
            <div class="menu">
                <button class="btn" v-on:click="restartGame">Restart</button>
                <button class="btn" v-on:click="useSeed">Use seed</button>
                <button class="btn" v-on:click="newGame">New game</button>
            </div>
            <p class="seed">Game seed : {{ seed }}</p>
        </div>
    </div>
    <script src="./vendors/vue_211.js"></script>
    <script src="game.js"></script>
</body>

</html>