
html * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: darkslategrey;
  color: snow;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding-top: 2vw;
  text-align: center;
}
